checkpoint-UNet-Spine-Cord-1.pth
checkpoint-UNet-Spine-Cord-0.pth
checkpoint-UNet-Spine-Cord-0.pth
checkpoint-UNet-Spine-Cord-1.pth
checkpoint-UNet-Spine-Cord-2.pth
checkpoint-UNet-Spine-Cord-3.pth
checkpoint-UNet-Spine-Cord-4.pth
